{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="/static/images/antiques.jpg" class="img-fluid" alt="antiques"/>
            <div><a href="http://www.freepik.com" target="_blank">Designed by Freepik</a>
            </div>
        </div>
        <div class="col-8">
            <!-- Title goes between these h2 tags -->
            <h2>{{ about.title }}</h2>
            <!-- Content goes directly underneath this -->
            {{ about.content | safe }}
            <p>Welcome to Blog It!, where we celebrate the beauty and history of treasured relics from the
                past! Our blog posts delve into the fascinating stories behind each item, offering insights into their
                origins, craftsmanship, and cultural significance. Whether you're a seasoned collector or simply curious
                about the charm of vintage finds, join us as we explore the world of antiques, share tips for
                restoration and care, and connect with fellow enthusiasts who appreciate the artistry and nostalgia of
                yesteryear. Let’s uncover the past together!</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Updated on field goes in here -->

            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
</div>
{% endblock content %}